*{
    box-sizing: border-box;
}
.contenedorflex
{display: flex;
    width: 500px;
   flex-direction: row;
   flex-wrap: wrap;
   background-color: rgb(166, 114, 214);
   padding: 10px;
   border: 2px solid black;}


.contenedorflexj
{display: flex;
    width: 800px;
   flex-direction: row;
   justify-content: center;
   background-color: rgb(43, 183, 226);
   padding: 10px;
   border: 2px solid black;}


.contenedorflexc
{display: flex;
       width: 800px;
      flex-direction: row;
      justify-content: end;
      background-color: rgb(43, 159, 226);
      padding: 10px;
      border: 2px solid black;}  
      
      
.contenedorflexs
{display: flex;
     width: 800px;
    flex-direction: row;
     justify-content: space-around;
    background-color: rgb(174, 130, 224);
    padding: 10px;
    border: 2px solid black;}   
    
.contenedorflexb
{display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(219, 95, 182);
    padding: 10px;
    border: 2px solid black;}
    
.contenedorflext
{display: flex;
    width: 1000px;
    width: 900;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(219, 126, 82);
    padding: 10px;
    border: 2px solid black;} 
    
    
.contenedorflexe
{display: flex;
    width: 800x;
    height: 900;
    align-items: flex-end;
    justify-content: space-around;
    background-color: rgb(214, 213, 147);
    padding: 10px;
    border: 2px solid black;} 
    
    
.contenedorflexch
{display: flex;
    width: 800px;
    height: 900px;
    align-items: stretch;
    justify-content: space-around;
    background-color: rgb(209, 124, 157);
    padding: 10px;
    border: 2px solid black;}
    

        
        .contenedorflexcenter1
{display: flex;
        width: 1000px;
        height: 200px;
        justify-content: center;
        align-items: center;
       
        background-color: rgb(226, 134, 118);
        padding: 10px;
        border: 2px solid black;}  

        .contenedorflexend1
        {display: flex;
                width: 800px;
                height: 500px;
                justify-content: center;
                align-items: flex-end;
               
                background-color: rgb(226, 134, 118);
                padding: 10px;
                border: 2px solid black;} 
        
.item:hover{
    background-color: rgb(219, 128, 128);
} 
                
        

.item
{background-color: rgb(224, 167, 120);
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;}  

.flex{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 600px;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(180, 180, 98);
    border: 2px solid;
    justify-content: space-between;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
}    