*{
    margin: 0;
    padding: 0;

}
.titulo{
    font-size: 40px;
    text-align: center;
}
.subtitulo{
    margin: 10px;
    text-align: center;

}
.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

}
.contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;

}
@media screen and ( max-width:1200px){

body{
    background-color: black;
    color: blue;
}  

.titulo{
    font-size: 30px;
}

}
@media (Max-width:900px){
 body{
    background-color: aqua;
    color: blueviolet;
 }
 .titulo{
    font-size: 25px;

 }
 .img{
    width: 70%;
 }

}
@media (Max-width:600px){
    body{
       background-color: rgb(225, 86, 238);
       color: rgb(195, 154, 233);
    }
    .titulo{
       font-size: 20px;
   
    }
    .img{
       width: 50%;
    }
   
   }